@mixin button($bg-color, $hover-color) {
    background-color: $bg-color;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    &:hover {
        background-color: $hover-color;
    }
}

@mixin ribbon($color) {
    position: absolute;
    top: 10px;
    right: -40px;
    background-color: $color;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 40px;
    transform: rotate(45deg);
}