@import 'variables';
@import 'mixins';
@import 'price-card';

body {
  font-family: $font-family-main;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pricing-container {
  display: flex;
  gap: 20px;
}

h2 {
  margin: 0;
}
