$primary-color: #2ecc71;
$primary-color-hover: darken($primary-color, 10%);
$secondary-color: #2980b9;
$secondary-color-hover: darken($secondary-color, 10%);
$accent-color: #e67e22;
$accent-color-hover: darken($accent-color, 10%);
$ribbon-color: #e74c3c;
$text-color-light: #a0b0b9;
$background-dark: #2d3a40;
$font-family-main: Arial,
sans-serif;